{"swagger":"2.0","info":{"description":"springBootAndDubbo后台api接口文档","version":"1.0","title":"<a href=\"http://localhost:8080/swagger-ui.html\" >springBootAndDubbo RESTful APIs</href>"},"host":"www.abc.com","basePath":"/","tags":[{"name":"test-resource","description":"测试controller"},{"name":"wx-qrcode-resource","description":"二维码相关接口"},{"name":"home-resource","description":"Home Resource"}],"paths":{"/qrcode/getQrcodeOne":{"get":{"tags":["wx-qrcode-resource"],"summary":"获取二维码","description":"获取二维码","operationId":"getQrcodeOneUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"wxAppId","in":"query","description":"微信appid","required":true,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"ref"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultMap«WxQrcodeEntity»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/qrcode/getQrcodes":{"get":{"tags":["wx-qrcode-resource"],"summary":"获取二维码列表","description":"获取二维码列表","operationId":"getQrcodesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"wxAppId","in":"query","description":"微信appid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultMap«List«WxQrcodeEntity»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/qrcode/saveQrcode":{"post":{"tags":["wx-qrcode-resource"],"summary":"保存二维码","description":"保存二维码","operationId":"saveQrcodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"wxQrcodeEntity","description":"wxQrcodeEntity","required":true,"schema":{"$ref":"#/definitions/WxQrcodeEntity"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultMap«WxQrcodeEntity»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/swagger":{"get":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"head":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingHEAD","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"post":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingDELETE","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["home-resource"],"summary":"index","operationId":"indexUsingPATCH","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/test/getServiceInfo":{"get":{"tags":["test-resource"],"summary":"测试接口","description":"测试接口","operationId":"getServiceInfoUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"param1","in":"query","description":"参数1","required":true,"type":"string"},{"name":"param2","in":"query","description":"参数2","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultMap"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"ResultMap":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"ResultMap«List«WxQrcodeEntity»»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/WxQrcodeEntity"}},"msg":{"type":"string"}}},"ResultMap«WxQrcodeEntity»":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/definitions/WxQrcodeEntity"},"msg":{"type":"string"}}},"WxQrcodeEntity":{"type":"object","properties":{"codeType":{"type":"integer","format":"int32"},"createBy":{"type":"string"},"createTime":{"type":"integer","format":"int64"},"effectiveTime":{"type":"integer","format":"int64"},"expireDay":{"type":"integer","format":"int32"},"fansCount":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"scanTimes":{"type":"integer","format":"int32"},"ticket":{"type":"string"},"unsubscribeCount":{"type":"integer","format":"int32"},"updateBy":{"type":"string"},"updateTime":{"type":"integer","format":"int64"},"url":{"type":"string"},"version":{"type":"integer","format":"int32"},"wxAppId":{"type":"string"}}}}}